.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight {
  background-image: linear-gradient(135deg, #6e8efb, #a777e3);
  color: transparent;
  background-clip: text;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.description {
  text-align: center;
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.avatarWrapper {
  position: relative;
}

.avatarWrapper::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-image:  linear-gradient(135deg, #6e8efb, #a777e3);
  opacity: 0.95;
  mix-blend-mode: hard-light;
}